In [6]:
x=0
y=5

if x<y:
  print("yes x<y")
if y<x:
  print("yes y<x")
if x:
  print("yes x")
if y: #ini true karena nilai bukan 0 dianggap true
  print("yes y")
if 'aul' in 'grault':
  print("aul in grault")
if 'quux' in ['foo', 'bar','baz']:
  print("quux in list")

yes x<y
yes y
aul in grault

In [7]:
if 'foo' in ['foo', 'bar','baz']:
  print('Outer condition is true') #true

  if 10>20:
    print('Inner condition 1')

  print('Between inner conditions') #true

  if 10<20:
    print('Inner condition 2') #true

  print('End of outer condition') #true

print('After outer condition') #true

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

In [8]:
x=20
if x<50:
  print('(first suite)')
  print('x is small')
else:
  print('(second suite)')
  print('x is large')

(first suite)
x is small

In [10]:
hb= 20000
hm= 5000
uang=2000

if uang>hb:
  print('gas beli buku!')
elif uang>hm:
  print('beli majalah ajaa ya')
else:
  print('uang tdk cukupp, nabung lagi ya!')

uang tdk cukupp, nabung lagi ya!

In [11]:
name = 'berlin'
if name=='Lian':
  print('Lian cangtip')
elif name=='Berlian':
  print('berlian yeppeo')
elif name=='berlin':
  print('berlin kiyowo')
elif name=='berliana':
  print('berliana is my name')
else:
  print('i dont know who you are!')

berlin kiyowo

In [12]:
if 'a' in 'bar':
  print('a in bar')
elif 1/0:
  print('this wont happen')
elif var:
  print('this wont either')

a in bar

In [13]:
if 'f' in 'foo':
  print('1');
  print('2');
  print('3');

1
2
3

In [14]:
raining=False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [16]:
age=12
s='teen' if age<21 else 'adult'
s

'teen'

In [17]:
'yes' if ('qux' in ['foo','bar','baz']) else 'no'

'no'

In [18]:
if True:
  pass
print('foo')

foo

In [19]:
n=5
while n>0:
  n -= 1
  print(n)

4
3
2
1
0

In [20]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [21]:
n=5
while n>0:
  n -= 1
  if n==2:
    break
  print(n)
print('Loop berakhirr')

4
3
Loop berakhirr

In [22]:
n=5
while n>0:
  n -= 1
  if n==2:
    continue
  print(n)
print('Loop berakhirr')

4
3
1
0
Loop berakhirr

In [24]:
gender = 'F'
age = 22
if age<18:
  if gender=='M':
    print('son')
  else:
    print('daughter')
elif age>=18 and age<65:
  if gender=='M':
    print('father')
  else:
    print('mother')
else:
  if gender == 'M':
    print('grandfather')
  else:
    print('grandmother')

mother

In [25]:
a=['foo','bar']

while len(a):
  print(a.pop(0))
  b=['baz','qux']
  while len(b):
    print('>',b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [26]:
n=5
while n>0: n -= 1; print(n)

4
3
2
1
0

In [27]:
for i in range(5):
    if i == 2:
        pass  # coba ganti ke continue, hasilnya pasti beda
    print(i)

0
1
2
3
4

In [28]:
a = ['berlin','neomu','yeppeo']
for i in a:
  print(i)

berlin
neomu
yeppeo

In [29]:
d={'foo':1,'bar':2,'baz':3}
for k in d:
  print(k)

foo
bar
baz

In [30]:
for k in d:
  print(d[k])

1
2
3

In [31]:
for k in d.values():
  print(k)

1
2
3

In [32]:
for k, v in d.items():
  print(k,":",v)

foo : 1
bar : 2
baz : 3

In [33]:
for k in d.items():
  print(k)

('foo', 1)
('bar', 2)
('baz', 3)

In [34]:
for i in ['foo','bar','baz','qux']:
  if 'b' in i:
    break
  print(i)

foo

In [35]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [38]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done yaa')

foo
bar
baz
qux
Done yaa

In [40]:
for i in ['foo', 'bar','baz','qux']:
  if i=='bar':
    break
  print(i)
else:
  print('done')

foo

In [44]:
temp = input("Ketikkan temperatur yang ingin dikonversi, eg. 45F, 120C: ")

try:
  degree = int(temp[:-1])
  i_convertion = temp[-1]

  if i_convertion == "C":
    result = int(round((9*degree)/5 +32))
  elif i_convertion == "F":
    result = int(round((degree-32)*5 /9))
  else:
    print("Masukkan input yang benar")

  print("Temperaturenya adalah", result, 'derajat')

except:
  print("Masukkan input yang benerrr, sesuai contohh plis")

Ketikkan temperatur yang ingin dikonversi, eg. 45F, 120C: 1
Masukkan input yang benerrr, sesuai contohh plis

In [45]:
while True:
  msg= input("Ketikkan karakter: ").lower()
  print(msg)
  if msg == 'stop':
    break

Ketikkan karakter: hoho
hoho
Ketikkan karakter: haha
haha
Ketikkan karakter: hihi
hihi
Ketikkan karakter: setop
setop
Ketikkan karakter: stop
stop