In [1]:
a=33
b=200
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")
else:
    print("a is greater than b")

b is greater than a

In [3]:
a=200
b=33
c=500
print("A") if a>b else print("B")
if a>b and c>a:
    print("both conditions are true")
if a>b and a>c:
    print("at least one of the conditions is True")

A
both conditions are true

In [6]:
def my_function():
    print("Hello berlin")

my_function()

Hello berlin

In [7]:
def my_function(fname, lname):
    print(fname+" "+lname)
my_function("berliana","fitria")

berliana fitria

In [8]:
import pyodbc

In [10]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-BERLIAN;'
                      'Database=BitMedia;'
                      'Trusted_Connection=yes;')

In [22]:
import pandas as pd
df = pd.read_sql_query('SELECT * FROM branch', conn)

print(df)

    id branch_id           branch_name               city
0    1      B001          Bitmedia BSD  Tangerang Selatan
1    2      B002         Bitmedia SCBD      Jakarta Pusat
2    3      B003  Bitmedia Alam Sutera  Tangerang Selatan
3    4      B004      Bitmedia Bintaro  Tangerang Selatan
4    5      B005     Bitmedia Cikarang             Bekasi
..  ..       ...                   ...                ...
62  63      B063    Bitmedia Cimanggis              Depok
63  64      B064       Bitmedia Cinere              Depok
64  65      B065     Bitmedia Cibinong              Bogor
65  66      B066        Bitmedia Ciawi              Bogor
66  67      B067       Bitmedia Parung              Bogor

[67 rows x 4 columns]

C:\Users\Berliana Fitria Dewi\AppData\Local\Temp\ipykernel_20608\2215947372.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('SELECT * FROM branch', conn)

In [16]:
df.to_csv("table_branch.csv",index=False)

In [17]:
df_csv = pd.read_csv('table_branch.csv')
df_csv

    id branch_id           branch_name               city
0    1      B001          Bitmedia BSD  Tangerang Selatan
1    2      B002         Bitmedia SCBD      Jakarta Pusat
2    3      B003  Bitmedia Alam Sutera  Tangerang Selatan
3    4      B004      Bitmedia Bintaro  Tangerang Selatan
4    5      B005     Bitmedia Cikarang             Bekasi
..  ..       ...                   ...                ...
62  63      B063    Bitmedia Cimanggis              Depok
63  64      B064       Bitmedia Cinere              Depok
64  65      B065     Bitmedia Cibinong              Bogor
65  66      B066        Bitmedia Ciawi              Bogor
66  67      B067       Bitmedia Parung              Bogor

[67 rows x 4 columns]

In [19]:
df2 = df.sort_values('branch_name')
df2

    id branch_id             branch_name               city
2    3      B003    Bitmedia Alam Sutera  Tangerang Selatan
0    1      B001            Bitmedia BSD  Tangerang Selatan
22  23      B023   Bitmedia Bekasi Barat             Bekasi
23  24      B024   Bitmedia Bekasi Timur             Bekasi
24  25      B025   Bitmedia Bekasi Utara             Bekasi
..  ..       ...                     ...                ...
54  55      B055  Bitmedia Tanjung Duren      Jakarta Barat
17  18      B018          Bitmedia Tebet    Jakarta Selatan
19  20      B020        Bitmedia Thamrin      Jakarta Pusat
20  21      B021      Bitmedia Utan Kayu      Jakarta Timur
21  22      B022        Bitmedia Warakas      Jakarta Utara

[67 rows x 4 columns]

In [20]:
df.to_excel('df_excel.xlsx',index=False)

In [21]:
df_xls = pd.read_excel("df_excel.xlsx")
df_xls

    id branch_id           branch_name               city
0    1      B001          Bitmedia BSD  Tangerang Selatan
1    2      B002         Bitmedia SCBD      Jakarta Pusat
2    3      B003  Bitmedia Alam Sutera  Tangerang Selatan
3    4      B004      Bitmedia Bintaro  Tangerang Selatan
4    5      B005     Bitmedia Cikarang             Bekasi
..  ..       ...                   ...                ...
62  63      B063    Bitmedia Cimanggis              Depok
63  64      B064       Bitmedia Cinere              Depok
64  65      B065     Bitmedia Cibinong              Bogor
65  66      B066        Bitmedia Ciawi              Bogor
66  67      B067       Bitmedia Parung              Bogor

[67 rows x 4 columns]

In [ ]:
import subprocess